@page "/sample-3"
@inject AuthState _authState

<h3>Propagated Reactivity</h3>
<hr />
<p>It shows how side menu should behave to show or hide functions.</p>

<div class="card bg-light p-3 vertical-margin">
    @foreach (var s in Enum.GetValues<LoginStatus>()) {
        <div class="form-check" style="margin-bottom:4px;">
            <input class="form-check-input" type="radio" name="@s"
                   checked="@(s == _authState.Status)"
                   @onclick="() => ToggleLoginStatus(s)">
                <span style="margin-left:6px;">@s</span>
        </div>
    }
</div>
<br />
<h5>Status: @_authState.Status</h5>

@code {
    async Task ToggleLoginStatus(LoginStatus statusOption)
    {
        if( statusOption == LoginStatus.LoggedIn) {
            await _authState.Login();
        }
        if (statusOption == LoginStatus.LogOut) {
            await _authState.Logout();
        }

    }
}
