:focus {
    outline: none;
}

.input-cell {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: right;
    width: 120px;
    padding-right: 8px;
    margin-left:-4px;
}

.label-cell {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: none;
    width: 60px;
    background-color:whitesmoke;
    padding-left: 8px;
    color: darkgray;
}

