:focus {
    outline: none;
}
/* fix radio border on focus */
.out-border {
    outline: none !important;
    border: none !important;
    margin-right: 8px !important;
}

    .out-border:focus {
        border: none !important;
        outline: none !important;
    }

label {
    margin-top: 6px !important;
}
