:focus {
    outline: none;
}
/* fix radio border on focus */
.out-border {
    outline: none;
    border: none;
    margin-right: 8px;
}

    .out-border:focus {
        border: none;
        outline: none;
    }

label {
    margin-top: 6px;
}
